# Dependencies
node_modules/

# Build output
dist/

# Astro cache and generated types
.astro/

# Environment variables
.env
*.env.[local|development|test|production]

# IDE / Editor folders
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
